header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002A54;
    padding: 0 90px;
    height: 110px;

    img{
        width: 200px;
    }

    .searchArea{
        background-color: rgba(255, 255, 255, 0.608);
        padding: 10px;
        width: 40%;
        display: flex;
        align-items: center;
        border-radius: 5px;
        justify-content: space-between;
        transition: 0.5s ease;

        &:focus-within{
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(229, 255, 0);
        }

        input{
            background-color: transparent;
            border: none;
            outline: none;
            width: 100%;
            color: #002A54;

            &::placeholder{
                color: #002A54;
            }
        }
    }

    nav{
        display: flex;
        gap: 50px;

        a{
            color: white;
            text-decoration: none;
            position: relative;
            transition: 0.5s ease;

            &::after{
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                background-color: white;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                transition: .5s ease;
            }
        }
    }
}

nav a:hover::after{
    width: 100%;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 20px;

    .add{
            background-color: #FFAF30;
            border-radius: 5px;
            border: 0;   
        }

        .tag{
            background-color: transparent;
            border: 2px solid white;
            color: #fff;
            border-radius: 5px;
        }

    button{
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-weight: 600;
    }

    svg{
        font-size: 20px;
    }
}

a{
    text-decoration: none;
}