body {
  font-family: "Montserrat", sans-serif;
}

.loadContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  height: 80vh;
  color: #fff;
  background: linear-gradient(135deg, #f0f9ff 0%, #e0f2fe 50%, #ffffff 100%);
  overflow: hidden;
  position: relative;
  

  img{
    filter: brightness(0.2);
  }

  .position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;  
  }

  .text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: #ffffff;

    span {
      background: linear-gradient(
        90deg,
        #e53935,
        #fb8c00,
        #fdd835,
        #43a047,
        #1e88e5,
        #8e24aa 
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  h1 {
    width: 50%;
    font-size: 3rem;
  }

  p {
    width: 60%;
    font-size: 1.5rem;
    color: #dfdfdf;
  }

  button {
    padding: 15px 20px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #4338ca;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    transition: 0.5s;

    &:hover {
      background-color: #2d2393;
      color: #fff;
    }
  }
}

.geral {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 100px 50px;

  .cardsCont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;

    .card {
      background-color: #ffffff;
      width: 425px;
      max-width: 100%;
      height: 280px;
      flex-direction: column;
      gap: 40px;
      padding: 24px 0;
      position: relative;
     box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      border-left: rgb(241, 35, 35) 5px solid;
      border-top: 1px solid #e5e7eb;
      border-bottom: 1px solid #e5e7eb;
      border-right: 1px solid #e5e7eb;
      transition: .5s ease;
      cursor: pointer;

      &:hover{
        transform: translateY(-10px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
      }

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 0 24px;

        .title {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;

          h4 {
            font-size: 20px;
            color: rgb(151, 17, 17);
          }

          p {
            font-size: 16px;
            color: #656565;
          }
        }

        .quantity {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;

          .number {
            font-size: 30px;
            font-weight: 700;
            color: rgb(151, 17, 17);
          }

          p {
            color: #656565;
          }
        }

        .icon {
          position: relative;
          margin-bottom: 14px;

          .circle {
            background-color: oklch(93.65% 0.03199 17.556);
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
          .svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 30px;
          }
        }
      }
    }

    .card:nth-child(2) {
      border-left: oklch(72.3% 0.219 149.579) solid 5px;

      .icon {
        .circle {
          background-color: oklch(96.927% 0.0474 154.792);
        }
        .svg {
          color: oklch(72.3% 0.219 149.579);
        }
      }

      .title h4 {
        color: oklch(72.3% 0.219 149.579);
      }

      .quantity .number {
        color: oklch(72.3% 0.219 149.579);
      }
    }

    .card:nth-child(3) {
      border-left: oklch(62.3% 0.214 259.815) solid 5px;

      .icon {
        .circle {
          background-color: oklch(94.377% 0.02756 253.31);
        }
        .svg {
          color: oklch(48.8% 0.243 264.376);
        }
      }

      .title h4 {
        color: oklch(48.8% 0.243 264.376);
      }

      .quantity .number {
        color: oklch(48.8% 0.243 264.376);
      }
    }
  }
}

.ready {
  padding: 100px;
  background: radial-gradient(circle, #f0f9ff 0%, #e0f2fe 50%, #ffffff 100%);

  color: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .titleFinal {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  p {
    font-size: 1.4rem;
  }

  .buttonFinal {
    margin-top: 30px;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4338ca;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background-color: #2d2393;
    }
  }
}

.carrosselSection {
  padding: 80px 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.scroller {
  width: 100%;
  max-width: 1200px; 
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 10%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 15%, white 90%, transparent);
  margin-top: 50px;
}


.scrollerInner {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scroll 40s linear infinite; 
}

.scrollerInner:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(-50%); 
  }
}

.produtoCard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.09);
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 25px;
  width: 250px; 
  flex-shrink: 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: .5s ease;

  &:hover{
    border: solid 1px rgba(0, 0, 0, 0.3);
  }
}

.produtoCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.produtoCard p {
  font-weight: 600;
  font-size: 1rem;
  color: #333;
}

.sectionTitle {
    font-size: 2.5rem;
    color: #002a54;
  }