*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    min-height: 100vh;
    gap: 100px;
}

.filterArea{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;

    

    .filterCont{
        display: flex;
        width: 100%;
        align-items: center;
        gap: 50px;

        .select{
            padding: 10px;
            border-radius: 10px;
            border: 2px solid rgba(164, 164, 164, 0.4);
            background-color: #fff;
            color: #002A54;
            font-size: 16px;
            cursor: pointer;
            width: auto;

            select{
                border: none;
            }
        }
    }

    .searchCont{
        display: flex;
        gap: 10px;
        align-items: center;
        border: 2px solid rgba(164, 164, 164, 0.4);
        /* justify-content: space-between; */
        padding: 10px;
        border-radius: 10px;
        width: 90%;

        input{
            border: none;
            /* padding: 10px; */
            width: 90%;
            outline: none;
        }

        svg{
            font-size: 25px;
        }
    }
}

.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}



.null{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: gray;
    font-size: 20px;
    grid-column: 1 / -1;

    svg{
        font-size: 80px;
        color: rgba(25, 0, 255, 0.733);
        width: 80px;
        height: 80px;
        padding: 10px;
        background-color: rgba(43, 28, 255, 0.274);
        border-radius: 50%;
    }
}

.produtos{
    display: flex;
    flex-direction: column;
    gap: 50px;

    .list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;

        .table{
            border-left: #002A54 5px solid;
            border-radius: 10px;
            /* padding: 40px; */
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            .image{
            }
        }
    }
}