footer {
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
  background-color: #002A54;
  gap: 30px;
}

footer .row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* deixa responsivo */
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 20px;
}

footer .logoFooter {
  width: 180px;
}

footer .links {
  display: flex;
  gap: 25px;
}

footer .links a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}

footer .links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4px;
  background: #ffaf30;
  transition: width 0.3s ease;
}

footer .links a:hover {
  color: #ffaf30;
}

footer .links a:hover::after {
  width: 100%;
}

footer span {
  color: #ccc;
  font-size: 13px;
  text-align: center;
}
